.aside {
  position: absolute;
  top: 0;
  left: -20px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #f4f6f8;
  padding: 50px 20px;
  transition: all 0.2s ease-in-out;

  &Bar {
    position: absolute;
    right: 0px;
    top: 10px;
    display: flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
}

.show {
  left: 0px;
  transition: all 0.2s ease-in-out;
}
