.button {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.15px;
  color: #767676;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  &Icon {
    $size: 12px;
    width: $size;
    height: $size;
    margin-right: 10px;
  }
}
